h1 {
  color: darkred
}

body {
 background-color: lightcyan;
 font-family: "Arial"  
}

.my-name {
  font-size: 65px;
  font-family: "Corsiva"
}

.about-me {
  font-size: 45px
}

.bbg {
  font-size: 25px
}

.contact-me {
  font-size: 45px
}

.description {
  font-size: 25px
}

.doggo {
  font-size: 45px ;
  font-family: "Arial";
  color: darkred
    
}
.container{
  text-align: center;
}
